body,
figure.interactive {
    margin: 0;
    padding: 0;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;

    @include fs-bodyCopy(1);

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.interactive-es6-headline {
	@include fs-headline(5);
}

.test-msg {
	color: #005689;
	@include fs-textSans(3);
}

.fonts {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	li {
		margin-bottom: 6px;
	}
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }

.confirm-btn {
    @include fs-header(1);
    cursor: pointer;
    //font-weight: 500;
    outline: 0;
    border: 0;
    padding: 0 10px;
    margin: 0 0 0 3px;
    line-height: 30px;
    
    border-radius: 100px;

    transition: background-color 0.1s ease-out;
    transition: color 0.1s ease-out;

    color: white;
    background: #005689;

    &:hover {
        background: #00456e;
    }
    
    &.hidden {
        visibility: hidden;
    }
}

select {

    @include fs-textSans(4);
    width: 100%;
    @include mq(tablet) {
        width: 200px;
    }
    //font-weight: 500;
    outline: 0;
    border: 1px solid #bdbdbd;
    padding: 10px;
    margin: 0 0 0 3px;
    line-height: 23px;
    height:40px;
    
    border-radius: 10px;

    transition: background-color 0.1s ease-out;
    transition: color 0.1s ease-out;

    
    background: white;

    -webkit-appearance:none;
}
