body,
figure.interactive {
    margin: 0;
    padding: 0;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    min-height: calc(100vh * 0.75);

    .embed & {
        min-height: 0;
    }

    @include fs-bodyCopy(1);
    

    //padding: 10px;
    @include mq(mobileLandscape) {
        //padding: 20px;
    }
    @include mq(tablet) {
        padding:0;
    }

    /*@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }*/

    @include mq(desktop) {
        max-width: 640px;
        margin-left: 160px;
    }
    @include mq(leftCol) {
        max-width: 640px;
        margin-left: 160px;
    }
    
    @include mq(wide) {
        max-width: 640px;
        margin-left: 240px;
    }
}

.interactive-es6-headline {
	@include fs-headline(5);
}

.test-msg {
	color: #005689;
	@include fs-textSans(3);
}

.fonts {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	li {
		margin-bottom: 6px;
	}
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }

#country {
    margin-bottom:40px;
}

h2 {
    @include fs-header(2);
    margin-bottom: 20px;
    @include mq(tablet) {
        @include fs-header(5);
        max-width:50%;
    }
}

.confirm-btn {
    @include fs-textSans(1);
    font-weight: bold;
    cursor: pointer;
    //font-weight: 500;
    outline: 0;
    border: 0;
    padding: 0 40px;
    margin: 0 0 0 3px;
    line-height: 40px;
    
    border-radius: 100px;

    transition: background-color 0.1s ease-out;
    transition: color 0.1s ease-out;

    color: white;
    background: #005689;

    &:hover {
        background: #00456e;
    }
    
    &.hidden {
        visibility: hidden;
    }
}

form {

    width: 100%;
    
    
    background:white;
    border-radius: 10px;
    overflow: hidden;

    

    @include mq(tablet) {
        background: white;
        height:78px;
        border-radius: 100px;
        border: 1px solid #bdbdbd;
    }

    button.confirm-btn {
        @include fs-textSans(4);
        font-size: 20px;
        font-weight: 500;
        float:right;
        //-webkit-appearance:none;
        
        visibility: visible;
        width: 100%;
        margin:5px 0;
        background-color: #005689;
        height:50px;
        span {
            display: none;
        }
        @include mq(tablet) {
            width: 200px;
            height: 68px;
            
            margin:5px;
            span {
                display: inline;
            }
        }
        padding:0;

        &.disabled,
        &.disabled:hover {
            
            background-color: #bdbdbd;
            
            cursor: default;
        }

    }
    
    
    
    

    

    select {

        @include fs-textSans(1);
        color:#bdbdbd;
        font-size:20px;
        

        background: white;
        margin:5px;
        width: calc(100% - 10px);
        height:50px;
        line-height: 50px;
        text-align:center;
        padding: 0;
        padding-left:30px;
        
        -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);

        @include mq(tablet) {
            text-align:left;
            background: white;
            width: calc(100% - 220px);
            line-height: 78px;
            height:78px;
            padding: 0 0 0 30px;
            padding-left:30px;
            margin: 0 0 0 3px;

            -webkit-box-shadow: none;
            box-shadow: none;    
        }
        //font-weight: 500;
        outline: 0;
        
        
        border:none;

        
        
        
        

        transition: background-color 0.1s ease-out;
        transition: color 0.1s ease-out;

        -webkit-appearance:none;

        option {
            @include fs-headline(1);
            font-size:20px;
            text-align: center;
            @include mq(tablet) {
                text-align:left;
            }
        }
    }
}

.legend {
    width:100%;
    overflow: hidden;

    ul {
            
            list-style: none !important;
            list-style-type: none !important;

            margin:0;
            
            padding:0;
            
            //height: 30px;
            display: block;
            float:left;
    
            width: calc(100% - 140px);
            @include mq(tablet) {
                margin-top:8px;
                margin-left:15px;
                width:calc(100% - 230px);
            }
        

        li {
            @include fs-textSans(1);
            padding-right: 5px;
            @include mq(tablet) {
                @include fs-textSans(2);
                padding-right: 15px;
            }
            float:left;
            list-style: none;
            
            margin-bottom:5px;

            .key {
                width: 10px;
                height: 10px;
                margin-right: 3px;
                border-radius: 10px;
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 2px;
            }
        }
    }

    button.confirm-btn {
        padding-left:10px;
        padding-right:10px;
        float:right;
        margin:0;
        min-width: 170px;
    }
}



