body,
figure.interactive {
    margin: 0;
    padding: 0;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive-container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;

    @include fs-bodyCopy(1);

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.interactive-es6-headline {
	@include fs-headline(5);
}

.test-msg {
	color: #005689;
	@include fs-textSans(3);
}

.fonts {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	li {
		margin-bottom: 6px;
	}
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }

#country {
    margin-bottom:100px;
}

h2 {
    @include fs-header(5);
    max-width:50%;
    margin-bottom: 20px;
}

.confirm-btn {
    @include fs-textSans(1);
    font-weight: bold;
    cursor: pointer;
    //font-weight: 500;
    outline: 0;
    border: 0;
    padding: 0 40px;
    margin: 0 0 0 3px;
    line-height: 40px;
    
    border-radius: 100px;

    transition: background-color 0.1s ease-out;
    transition: color 0.1s ease-out;

    color: white;
    background: #005689;

    &:hover {
        background: #00456e;
    }
    
    &.hidden {
        visibility: hidden;
    }
}

form {

    width: 100%;
    height:78px;

    @include mq(tablet) {
        //width: 340px;
    }

    button.confirm-btn {
        @include fs-textSans(4);
        font-size: 20px;
        font-weight: 500;
        float:right;
        //-webkit-appearance:none;
        background-color: #ffbb00;
        visibility: visible;
        width: 200px;
        margin:5px;
        height: 68px;
        padding:0;

        &.disabled,
        &.disabled:hover {
            background-color: #bdbdbd;
            cursor: default;
        }

    }
    
    border: 1px solid #bdbdbd;
    border-radius: 100px;
    background: white;

    overflow: hidden;

    select {

        @include fs-textSans(1);
        color:#bdbdbd;
        font-size:20px;
        width: calc(100% - 220px);
        @include mq(tablet) {
            //width: 200px;
        }
        //font-weight: 500;
        outline: 0;
        line-height: 78px;
        background: white;
        border:none;

        padding: 0 0 0 30px;
        margin: 0 0 0 3px;
        
        height:78px;

        transition: background-color 0.1s ease-out;
        transition: color 0.1s ease-out;

        -webkit-appearance:none;

        option {
             @include fs-headline(1);
             font-size:20px;
        }
    }
}

.legend {
    width:100%;
    overflow: hidden;

    ul {
     
            margin:0;
            margin-left:15px;
            padding:0;
            margin-top:8px;
            height: 30px;
            display: block;
            width:calc(100% - 240px);
            float:left;
        

        li {
            @include fs-textSans(2);
            float:left;
            list-style: none;
            padding-right: 15px;
            margin-bottom:5px;

            .key {
                width: 10px;
                height: 10px;
                margin-right: 3px;
                border-radius: 10px;
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 2px;
            }
        }
    }

    button.confirm-btn {
        min-width: 205px;
    }
}



