#ranking {
	background-color: #f8f8f8;
	.subsection {
		
		padding:35px 0;
		@include mq(tablet) {
			padding:35px;
		}
		margin:0;

		

		h3 {
			@include fs-header(4);
			font-weight: 800;
			margin:0 0 10px;
			@include mq(tablet) {
				margin-bottom:35px;
			}
		}
	
		p {
			@include fs-headline(3);
		}
	}	
	

	&.hidden {
		display:none;
	}

	ul {
		list-style: none;
		margin:0;
		padding: 0;
		
		-moz-column-count: 1;
	    -moz-column-gap: 10px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 10px;
	    column-count: 2;
	    column-gap: 10px;
		
		@include mq(tablet) {
			height: 730px;
			-moz-column-count: 3;
		    -moz-column-gap: 20px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 20px;
		    column-count: 3;
		    column-gap: 20px;
		}

		li {
			@include fs-textSans(4);
			font-size:16px;

			line-height: 50px;
			border-bottom:1px solid #eee;
			margin:0 0 10px;
			
			
			color:#767676;

			span {
				color:#bdbdbd;
			}
			&.selected {
				font-weight: bold;
				span {
					color:inherit;
				}
			}
			&.you {
				font-weight: bold;
				color:#000;
				span {
					color:inherit;
				}
			}
		}
	}

	.share {
	    background-color: #eaeaea;
	    overflow:hidden;
	    margin:0 10px;
	    padding-left:15px;
	    padding-right:15px;
		.msg {
			@include mq(tablet) {
				float: left;
				width: calc(100% - 140px);
			}
			p {
				margin: 0;
			}
		}
	    .btn {
	    	margin-top:15px;
	    	@include mq(tablet) {
	    		float: left;
	    		margin-top:0px;
	    	}

	    }
	}
}