.row {
	width:100%;
	margin-bottom:30px;
	position:relative;

	.chart-container {
		position: relative;
	}

	.q-title {
		p {
			font-weight: bold;
			font-size:15px;
		}
	}

	svg {
		width:800px;
		height:300px;
		
		

		g.line {
			line.bg {
				stroke:#ddd;
				stroke-width:1;
				shape-rendering: crispEdges;
				fill:none;
			}
			text.zero,
			text.hundred {
				@include fs-textSans(1);
				text-anchor:end;
				fill:#aaa;
			}
			text.hundred {
				text-anchor:start;	
			}
			text.title {
				@include fs-header(1);
				font-size:15px;
				font-weight: 300;
				text-anchor:end;
			}
		}
		
		
		.countries {
			.country {
				circle {
					stroke:none;
					stroke-width:2;
					fill-opacity:0.8;
					//fill:#005689;
				}

				line {
					stroke:#ddd;
					stroke-opacity:1;
					stroke-width:1;
					fill:none;
				}
				text {
					@include fs-header(1);
					font-size:13px;
					font-weight: 300;
					text-anchor:start;
					visibility: hidden;

					&.country-value {
						@include fs-textSans(1);
						font-weight: normal;
						text-anchor:end;
					}
				}

				g.value {
					&.hidden-value {
						text.country-value {
							visibility: hidden;
						}
					}
					line.c {
						stroke:#333;
						stroke-opacity:0;
						stroke-width:1;
						stroke-dasharray:1,1;
						shape-rendering: crispEdges;
					}
				}

				&.highlight {
					circle {
						stroke:#005689;
						fill-opacity:1;
					}
					text {
						visibility: visible;
						//font-weight: bold;
					}
					line {
						stroke:#333;
						stroke-opacity:1;
						stroke-width:2;
					}
					g.value {
						line.c {
							stroke-opacity:1;
						}
					}
					
				}

				&.selected {
					circle {
						stroke:#000;
						stroke-width:2;
						fill-opacity:1;
					}
					/*text {
						visibility: visible;
					}*/
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
				}

				&.you {
					circle {
						stroke:#000;
						stroke-width:0;
						fill:#dc2a7d;
					}
					text {
						visibility: visible;
					}
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
				}
			}	
		}
		
	}
}