.row {
	width:100%;
	margin-bottom:30px;
	position:relative;
	overflow: hidden;

	.confirm-btn.confirm {
		display: block;
		margin:0 auto;
	}
	.confirm-btn.next {
		display: block;
		float: right;
	}
	
	

	&.hidden {
		height: 0;
		overflow: hidden;
	}

	.chart-container {
		position: relative;
		overflow: hidden;

		&.init {
			height: 160px;
		}
	}

	.q-title {
		p {
			font-weight: bold;
			font-size:15px;
		}
	}

	svg {
		width:100%;
		height:300px;
		
		

		g.line {
			&.hidden {
				display:none;
			}
			line.bg {
				stroke:#ddd;
				stroke-width:1;
				shape-rendering: crispEdges;
				fill:none;
			}
			text.zero,
			text.hundred {
				@include fs-textSans(1);
				text-anchor:start;
				@include mq(tablet) {
					text-anchor:end;
				}
				fill:#aaa;
			}
			text.hundred {
				text-anchor:end;
				@include mq(tablet) {
					text-anchor:start;
				}
			}
			text.title {
				@include fs-header(1);
				font-size:15px;
				font-weight: 300;
				text-anchor:start;
				@include mq(tablet) {
					
					text-anchor:end;
				}
			}
		}
		
		
		.countries {
			&.my {
				.country.you {
					cursor: ew-resize;
					circle {
						stroke:#000;
						stroke-width:0;
						//fill:$you;
					}

					text {
						visibility: visible;
						text-anchor:middle;
						&.country-value {
							font-size:25px;
						}
						&.hidden {
							visibility: hidden;
						}
					}
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
				}
			}
			.country {
				circle {
					stroke:none;
					stroke-width:2;
					fill-opacity:0.8;
					//fill:#005689;
				}

				line {
					stroke:#ddd;
					stroke-opacity:1;
					stroke-width:1;
					fill:none;
				}
				text {
					@include fs-header(1);
					font-size:13px;
					font-weight: 300;
					text-anchor:start;
					visibility: hidden;
					
					

					&.country-value {
						@include fs-textSans(1);
						font-weight: normal;
						text-anchor:end;
					}
				}

				g.value {
					&.hidden-value {
						text.country-value {
							visibility: hidden;
						}
					}
					circle.c {
						stroke:none;
						fill-opacity:0;
					}
				}

				&.highlight {
					circle {
						stroke:#333;
						fill-opacity:1;
					}
					text {
						visibility: visible;
						//font-weight: bold;
					}
					line {
						stroke:#333;
						stroke-opacity:1;
						stroke-width:2;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
					
				}

				&.selected {
					circle {
						stroke:#000;
						stroke-width:2;
						fill-opacity:1;
					}
					text {
						visibility: visible;
					}
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
				}

				&.you {
					circle {
						stroke:#000;
						stroke-width:2;
						fill-opacity:1;
					}
					text {
						visibility: visible;
					}
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
				}
			}	
		}
		
	}
}