.row {
	width:100%;
	margin-bottom:30px;
	position:relative;
	overflow: hidden;
	border-top:1px solid #dfdfdf;
	padding-top:20px;
	margin-bottom:100px;

	.confirm-btn.confirm {
		display: block;
		float:right;
	}
	.confirm-btn.next {
		display: block;
		float: right;
	}
	
	

	&.hidden {
		height: 0;
		overflow: hidden;
	}
	&.inactive {
		opacity: 0.2;
		pointer-events: none;
	}

	.chart-container {
		position: relative;
		overflow: hidden;

		&.init {
			height: 160px;
		}
	}

	.q-title {
		p {
			@include fs-headline(4);
			i {
				font-style: normal;
				font-weight: bold;
			}
			span {
				color:#bdbdbd;
				font-size:0.8em;
			}
		}
	}

	svg.chart {
		width:100%;
		height:300px;
		
		

		g.line {
			&.hidden {
				display:none;
			}
			line.bg {
				stroke:#ddd;
				stroke-width:1;
				shape-rendering: crispEdges;
				fill:none;
			}
			rect.bg {
				fill:#eaeaea;
			}
			text.zero,
			text.hundred {
				@include fs-textSans(1);
				text-anchor:start;
				@include mq(tablet) {
					text-anchor:end;
				}
				fill:#aaa;
			}
			text.hundred {
				text-anchor:end;
				@include mq(tablet) {
					text-anchor:start;
				}
			}
			text.title {
				@include fs-textSans(1);
				fill:#bdbdbd;
				font-size:15px;
				font-weight: 300;
				text-anchor:start;
				@include mq(tablet) {
					
					//text-anchor:end;
				}
			}
		}
		
		
		.countries {
			&.my {
				.country.you {
					cursor: ew-resize;
					circle {
						//stroke:#000;
						stroke-width:1;
						//fill:$you;
					}

					text {
						
						@include fs-textSans(4);
						visibility: visible;
						text-anchor:middle;
						

						&.country-value {
							font-size:25px;
							font-weight: 800;
						}
						&.inactive {
							fill:#bdbdbd;
						}
						&.hidden {
							visibility: hidden;
						}
					}
					line {
						stroke:#000;
						stroke-opacity:1;
						stroke-width:3;
					}
				}
			}
			.country {
				circle {
					//stroke:none;
					stroke-width:2;
					fill-opacity:0.8;
					//fill:#005689;
				}

				line.slope {
					stroke:#eaeaea;
					stroke-opacity:1;
					stroke-width:1;
					fill:none;
				}
				text {
					@include fs-header(1);
					font-size:13px;
					font-weight: 300;
					text-anchor:start;
					visibility: hidden;
					
					

					&.country-value {
						@include fs-textSans(1);
						font-weight: normal;
						text-anchor:end;
					}
				}

				g.value {
					&.hidden-value {
						text.country-value {
							visibility: hidden;
						}
					}
					circle.c {
						stroke:none;
						fill-opacity:0;
					}
				}

				&.highlight {
					circle {
						//stroke:#333;
						fill-opacity:1;
					}
					text {
						visibility: visible;
						//font-weight: bold;
					}
					line.slope {
						stroke-opacity:1;
						stroke-width:2;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
					
				}

				&.selected {
					circle {
						stroke:#000;
						stroke-width:2;
						fill-opacity:1;
					}
					text {
						visibility: visible;
					}
					line {
						stroke:#000 !important;
						stroke-opacity:1;
						stroke-width:3;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
				}

				&.you {
					circle {
						//stroke:#000;
						stroke-width:2;
						fill-opacity:1;
					}
					text {
						visibility: visible;
					}
					line {
						stroke:#000 !important;
						stroke-opacity:1;
						stroke-width:3;
					}
					g.value {
						circle.c {
							fill-opacity:1;
						}
					}
				}
			}	
		}
		
	}
	.call2action {
		width: 100%;
		text-align: right;
		color: #005689;
		font-size: 16px;
		margin:20px 0;

		svg {
			path {
				fill:#005689;
			}
		}
	}
	.analysis {
	    border:1px solid #bdbdbd;
	    padding:35px;
	    margin-top:30px;
	    @include fs-headline(4);
	    i {
	    	display: block;
	    	margin-top:15px;
	    	color:#767676;
	    	font-size: 0.8em;
	    	font-style: normal;
	    }
	    transition: opacity 500ms ease-out;
	    opacity:1;
	    &.hidden {
	    	opacity:0;
	    }
	}
}