.tooltip {
	position: absolute;
	top:0;
	left:0;
	
	width:0;

	height:30px;
	overflow:visible;
	//border-left:2px solid #ff0000;
	
	//height:45px;
	
	//border:1px solid #000;

	pointer-events: none;

	display: none;
	
	

	font-family: 'Roboto Slab', serif;
	font-size: 12px;

	line-height: 15px;

	

	//display: none;
	color:#000;
	
	//-webkit-box-shadow: 1px 0 2px 1px rgba(0,0,0,0.2);
	//box-shadow: 1px 0 2px 1px rgba(0,0,0,0.2);
	
	z-index: 99999999;
		
	p {
		margin: 0;
		word-wrap: break-word;
	}

	span.value {
		font-weight: bold;
	}
	h1,h4 {
		margin:0;
		margin-left:5px;
	}
	h1 {
		font-size:14px;
		font-weight: normal;
	}
	h4 {
		font-size: 11px;
		color:#767676;
		font-weight: normal;
	}
	

	ul {
		list-style:none;
		margin: 5px 5px 0 5px;
		padding: 0;
		li {
			overflow: hidden;

			span.country-name {
				font-size:14px;
				line-height: 15px;
				text-align:left;
				display: block;

				em {
					    font-style: normal;
					    font-size: 0.8em;
					    color: #767676;
				}
			}
			div {
				float:left;
				text-align: left;
				font-size:16px;
				width:33%;
				span {
					display: block;
					font-size:0.6em;
				}
				i {
					font-style: normal;
					font-size:0.7em;
				}
				
				&.females {
					color:#b82266;
				}
				&.males {
					color:#005689;
				}
				&.urban {
					color:#63717a;
				}
				&.rural {
					color:#298422;
				}
				
			}
			&.values {
				display: block;
			}
			&.flat {
				float:left;
				margin-right:0.25em;
			}
		}
		&.no-data {
			li {
				float:left;
				span.country-name {
					font-size:12px;
				}
			}
		}
		&.one-value {
			span {
				float:left;
				max-width:70%;
				em {
					    font-style: normal;
					    font-size: 0.8em;
					    color: #767676;
				}
			}
			span.big-value {
				max-width:30%;
				float:right;
				font-size:16px;
				i {
					font-style: normal;
					font-size:0.7em;
				}
				
			}
		}
	}

}

.tooltip.visible {
	display: block;
}

.arrow_box {
	position: absolute;
	left:0;
	top:0;
	padding:10px;
	background: #fff;
	border: 1px solid #aaa;
	margin-left:10px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 25px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 7px;
	margin-top: -7px;
}
.arrow_box:before {
	border-color: rgba(170, 170, 170, 0);
	border-right-color: #777;
	border-width: 8px;
	margin-top: -8px;
}

.tooltip.right {
	.arrow_box {
		left:-240px;
	}
	.arrow_box:after, .arrow_box:before {
		left: 100%;
		top: 25px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;

	}

	.arrow_box:after {
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #fff;
		border-width: 7px;
		margin-top: -7px;
	}
	.arrow_box:before {
		border-color: rgba(170, 170, 170, 0);
		border-left-color: #777;
		border-width: 8px;
		margin-top: -8px;
	}
}
.tooltip.bottom {
	.arrow_box {
		top:auto;
		bottom:14px;
	}
	/*
	.arrow_box:after, .arrow_box:before {
		bottom: 100%;
		left: 50%;
		top:-7px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 7px;
		margin-left: -7px;

	}
	.arrow_box:before {
		border-color: rgba(170, 170, 170, 0);
		border-bottom-color: #777;
		border-width: 8px;
		margin-left: -8px;
		margin-top:-9px;
	}*/

	.arrow_box:after, .arrow_box:before {
		top: 100%;
		left: 50%;
		bottom:-5px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 7px;
		margin-left: -7px;
		margin-top:0;
	}
	.arrow_box:before {
		border-color: rgba(170, 170, 170, 0);
		border-top-color: #777;
		border-width: 8px;
		margin-left: -8px;
		margin-top:0;
	}
}
	