@import "fonts";
@import "fonts_embed";
@import "mq";
@import "general";

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@import "colors";
@import "quiz";

@import "column";
@import "row";
@import "share";
@import "ranking";